<div class="container">
	<h1>Keep calm and use your towel</h1>
	<h2>And maybe report to <a href="https://asta.uni-goettingen.de/referate/digitalisierung-datenschutz/">DnD Referat</a> that you've seen this error:</h2>
	<div class="well">
		<pre><?=h($e)?></pre>
	</div>

	<img src="assets/img/missing-cat.gif">
</div>
