<div class="container about">
	<h1>About the Live-Streams and Recordings</h1>
    <!--
    <h2 style="border: solid 2px red; padding: 5px;">The content on this page is not yet correct. Please check out <a href="https://asta.uni-goettingen.de/">asta.uni-goettingen.de</a> for more information or write an email to admin(at)asta.uni-goettingen.de if you have questions.</h2>
    -->
	<p>
		Lecture recording and streaming at <strong><?=h($conference->getTitle())?></strong> is organized and performed by the <a href="https://asta.uni-goettingen.de/referate/digitalisierung-datenschutz/">Department of Digitalization and Privacy of AStA Göttingen</a>.
	</p>

    <h2>Licences</h2>
    <p>Please ask digitales(at)asta.uni-goettingen.de</p>
    <!--
	<p>
		The video stream is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC Attribution 4.0 (CC BY 4.0)</a>. This may not hold true for the slides or the actual performance. If in doubt please contact the speaker directly.
	</p>
	<p>
		Although the licence permits it, we would like to ask you not to distribute stream dumps. We try to release finished cuts of recordings as quickly as possible
		<? if($conference->hasReleases()): ?>
			on <a href="<?=h($conference->getReleasesUrl())?>"><?=h($conference->getReleasesUrl())?></a>
		<? endif ?>.
		Early releases of incomplete stream dumps without audio translation, subtitles, intros, unprocessed audio and missing meta data is not what we had in mind when we spent months of our time with preparations.
    </p>
    -->

	<h2>Privacy Policy</h2>
	<p>
		During the conference, we'll log all accesses to this website
		and the servers providing the video and audio
		streams. We do this to get an idea how the users are distributed throughout
		the internet, what streaming formats are popular and which players are
		used. We'll use this information for debugging during the conference and to
		optimize our streaming CDN configuration in the future.
	</p>

	<p>In particular, we collect the following data:</p>
	<ul>
		<li>your IP address</li>
		<li>date and time</li>
		<li>the visited page/stream</li>
		<li>status codes the servers answer with</li>
		<li>your browser/player and operating system</li>
		<li>the referring URL in case of HTTP</li>
	</ul>

	<p>
		Only statistical data which cannot be used to identify a person will be
		retained after the conference. We'll destroy the original log files to the
		best of our knowledge and ability.
	</p>
	<p>
		Beware that some of our CDN servers are donated by various entities. We
		cannot guarantee that (for example) their network infrastructure will
		comply to this policy.
	</p>

	<h2>Imprint</h2>
	<p>Please see <a href="https://asta.uni-goettingen.de/impressum/">our website</a>.</p>
</div>
