<div class="container about">
	<h1>This content is available in your country !!</h1>
<!--
    <h2 style="border: solid 2px red;padding: 5px;">The content on this site is not yet correct. Please check out <a href="https://asta.uni-goettingen.de/">asta.uni-goettingen.de</a> for more information or write an email to admin(at)asta.uni-goettingen.de if you have questions.</h2>
-->
	<a href="about/#en">English version below</a><br><br>
	<a name="de"></a>

	<h2>Live Content</h2>
	<p>Unsere Streams findest du auf dieser Website. Die Streams sind in verschiedenen Formaten und Auflösungen und in Zukunft je nach Event vielleicht sogar in mehreren Sprachen abrufbar.</p>

	<p>Je nachdem welches Betriebsystem du benutzt, spielt der Webplayer automatisch das vermutlich für dich passende Format ab. Da Webbrowser und Video auch im Jahre <?=h(date('Y'))?> immer noch nicht sauber zusammen arbeiten, empfehlen wir die Streams im Mediaplayer deiner Wahl zu öffnen, VLC ist hier unsere Empfehlung.</p>

<!--
    <p>Oft findet ihr neben dem eigentlichen Konferenzprogramm auch weitere Streams auf unser Streaming-Seite. Dies können z.B. Streams aus den Lounges sein oder Inhalte, die andere Besucher produzieren.</p>
-->

	<h2>ReLive Content</h2>
    <p>
        Sobald ein Event beginnt, sind die Inhalte auch in unserem Video-On-Demand Portal verfügbar. Dies bedeutet, dass ihr auch wenn das Event schon läuft, innhalb der Events zurückspulen könnt, um von Anfang an zu schauen. Auch Pause drücken ist hier kein Problem. ReLive hat dabei die selbe Qualität wie bei unserem Live-Stream.
        <!--Um auch Leuten in Brandenburg das Zusehen zu ermöglichen, liegt die Bitrate aber deutlich unter den veröffentlichten Releases. Daher entfernen wir die Events aus dem ReLive, sobald das eigentlich Release online ist. Bitte verbreitet daher auch keine Aufnahmen aus ReLive sondern wartet auf die Release. Bitte verbreitet auch keine Streamdumps, mehr dazu findet ihr <a href="https://events.ccc.de/2015/01/03/the-youtube-and-stream-dump-problem/">in einem Blog-Artikel auf events.ccc.de</a>.-->
    </p>

<!--
	<h2>Recordings</h2>
	<p>Unsere Recordings der Events findet ihr unter <a href="https://media.ccc.de">media.ccc.de</a> sowie unter <a href="https://www.youtube.com/user/mediacccde">youtube.com/user/mediacccde</a> (falls euer bevorzugtes Endgerät nur damit klar kommt). Auf media.ccc.de findet ihr sowohl Content, den wir produziert haben, als auch Produktionen aus der Chaosfamilie. Wie auch bei den Streams, bietet euch ein Webplayer das für euer OS/Browser-Kombination passende Format an. Solltet ihr damit unzufrieden sein oder lieber einen echten Videoplayer benutzten wollen, findet ihr im Tab "Downloads" die Links zu allen Files, die zum jeweiligen Event verfügbar sind. Neben den Videos, versuchen wir auch immer eine Audio-only-Version bereit zu halten. Alle Dateien sind auch in verschiedenen RSS-Feeds verfügbar, sodass sie z.B. von Podcatchern abonniert werden können. Unser CDN bietet auch Metalinks an, welche von vielen Download-Managern automatisch genutzt werden und euch so das Laden von mehreren Servern gleichzeitig erlauben. Weiterhin gibt es eine Dateilistenansicht unter <a href="https://cdn.media.ccc.de">cdn.media.ccc.de</a>, welches sich zum binge downloaden eignet. Leider hat es auch noch nicht aller Content in das Frontend geschafft, diesen findet man aber in dieser Ansicht.</p>

    <p>Auch hier möchten wir noch mal auf das Kodi Add-on hinweisen. Darüber hinaus ist ein <a href="https://github.com/cccc/MediaCCC.bundle">Plex Plugin</a> verfügbar sowie eine <a href="https://github.com/aus-der-Technik/CCC-TV">Apple-TV App</a> in der Entwicklung.</p>
-->

	<hr>
	<a name="en"></a>

	<h2>Live content</h2>
	<p>Our streams are available on this website. We provide the streams in a number of codecs, containers and resolutions and maybe in the future on some conferences even different translations.</p>

	<p>The web player will hopefully choose the right format depending on your operation system and browser. As video streaming in web browsers is still broken in <?=h(date('Y'))?>, we recommend to use the streaming client application of choice to consume the streams. We suggest VLC for desktop usage.</p>

<!--
    <p>At some conferences we also provide streams of the lounges or content provides of other parties additionally to the main conference program.</p>
-->

	<h2>ReLive content</h2>
    <p>
        As soon as a events has started it is also available via our video-on-demand portal. This means that you can jump back to the beginning of the event or pause a live event. ReLive provides the same quality as our live streams.
        <!--
        These streams have a lower bitrate than the final recordings to allow people with a slow internet connection to use the streams. We remove the ReLive "recordings" as soon as the final recoding is released. This has a much better quality and is free of watermarks. Therefore, we ask you to not distribute the ReLive recordings but wait for the final releases. More on this topic can be found in this <a href="https://events.ccc.de/2015/01/03/the-youtube-and-stream-dump-problem/">blog post on events.ccc.de</a>
        -->
    </p>
<!--
	<h2>Recordings</h2>
	<p>The recordings can be found at <a href="https://media.ccc.de">media.ccc.de</a> and in our YouTube channel <a href="https://www.youtube.com/user/mediacccde">youtube.com/user/mediacccde</a> (in case your preferred device only supports this). Beyond our own productions, you can find content produced by other members of the chaos family on media.ccc.de. Similar to the streamplayer on this website, media.ccc.de provides a player that tries to play the most suitable format for your OS / browser combination. You can find other formats and links to play in a desktop video player in the "Downloads" tab. Usually also a audio only version is available. All files are also available via an RSS-feed which comes handy with e.g. podcast clients. Our CDN provides metalink files, which are used by download managers to download in parallel from different CDN servers which can speed up your downloads. Furthermore, there is http file listing of the media files on <a href="https://cdn.media.ccc.de">cdn.media.ccc.de</a> which comes in handy for binge watching. Also, not all content is listed in the frontend yet, but is only available via this listing.</p>

    <p>Again we want to point you to the kodi add-on which also lists the recordings. There is also a <a href="https://github.com/cccc/MediaCCC.bundle">plugin for Plex</a> and an <a href="https://github.com/aus-der-Technik/CCC-TV">Apple-TV app</a>.
-->
</div>
