<div class="container about">
	<? if ($next != null && $conference->getTitle() != $next['name']): ?>
		<!--<h1><?=h($conference->getTitle())?> is over!</h1>-->
		<!--<h1>Last event is over!</h1>-->
	<? endif ?>

	<? include("$assemblies/countdown.phtml") ?>

    <p>This website is just a few days old and still under construction. There may be some technical issues like broken links.<br>
        If you encounter problems with the stream we are happy to get some feedback. Just write an email to admin(at)asta.uni-goettingen.de
    </p>

	<p>
		<? if($conference->hasReleases()): ?>
			Recordings will be released at <a href="<?=h($conference->getReleasesUrl())?>"><?=h($conference->getReleasesUrl())?></a>.
		<? endif ?>

		<? if($conference->hasRelive()): ?>
			<? if($conference->hasReleases()): ?>
				Until all recordings are released, <a href="<?=h($conference->getReliveUrl())?>">ReLive</a> remains available.
			<? else: ?>
				You can still watch stream dumps <a href="<?=h($conference->getReliveUrl())?>">here</a>.
			<? endif ?>
		<? endif ?>

	</p>

	<p>
		Streaming at <strong><?=h($conference->getTitle())?></strong> was provided by the <a href="http://asta.uni-goettingen.de">general student council of the university of Göttingen</a>. The next events we'll stream will be
	</p>

	<br><br><br>

	<? include("$assemblies/upcoming.phtml") ?>
</div>
